<h2>400 - Bad request</h2>

<p>
  The server cannot process the request due to something that is perceived to be a client error.
</p>
<p>
  <%= link_to('<button>Go back to home</button>'.html_safe, '/') %>
</p>
