<h2>422 - Unprocessable entity</h2>

<p>
  The server understands the content type of the request entity, and the syntax of the request entity is correct, but it was unable to process the contained instructions.
</p>
<p>
  <%= link_to('<button>Go back to home</button>'.html_safe, '/') %>
</p>
