<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= render("web/tasks/filter/actions/toggle", task:) %></td>
        <td><%= render("web/tasks/filter/actions/edit", task:) %></td>
        <td><%= render("web/tasks/filter/actions/delete", task:) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
