<%= render("web/user/settings/shared/header", current_page: "api") %>

<main>
  <h2>My API access token</h2>

  <pre><%= current_user.token.access_token %></pre>

  <%= button_to("Refresh", web_user_tokens_path, {
    method: :put,
    data: {confirm: 'Are you sure to generate a new API token?'}
  }) %>
</main>
