<%= link_to(
  "<button title=\"Delete\" style=\"background-color: var(--accent-bg)\">🗑️</button>".html_safe,
  web_tasks_edit_path(task, back_to: controller_name),
  method: :delete,
  data: {confirm: "Are you sure you want to delete this task?"}
) %>
