<%
  style = "background-color: var(--accent-bg)"
  disabled = current_task_list?(task_list) ? "disabled" : ""
  button_tag = "<button #{disabled} title=\"Edit\" style=\"#{style}\">📝</button>".html_safe
%>

<% if task_list.inbox? %>
  <%= button_tag %>
<% else %>
  <%= link_to(button_tag, edit_web_task_list_path(task_list)) %>
<% end %>
