/* Application styles */

body {
  header {
    grid-column: 2;
    padding: 0 0.5rem 1rem 0.5rem;
  }

  header nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
  }

  header h1 {
    margin: 1rem auto;
    margin-bottom: 0;
    font-size: 2rem;
  }

  main {
    padding-top: 0;
  }

  &.web-application {
    table thead tr th:first-child {
      width: 100%;
    }
  }
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 2rem;
}
