<%= render("web/tasks/shared/header", current: "lists", title: "Lists") %>

<main>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inbox <mark>selected</mark></td>
        <td><button disabled>Select</button></td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
</main>
